* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #F15B22;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
    margin-top: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.btn-secondary {
    background-color: #ffffff;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
}


header {
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;

}

.header-description {
    text-align: right;
    width: 550px;
    margin-right: 230px;
    padding-top: 216px;
}

.header-description h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.header-description p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

/* self-assessment section */

.self-assess {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    margin-bottom: 130px;
}

.self-assess article {
    padding-top: 240px;
    width: 420px;
}

.self-assess h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    color: #151414;
    padding-bottom: 24px;
}

.self-assess p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    padding-bottom: 18px;
}

.self-assess ul li {
    list-style-type: none;
    line-height: 26px;
}

.self-assess ul i {
    padding-right: 10px;
    color: #16D887;
}

/* Plans Section */

.plans {
    margin-bottom: 130px;
}

.plans h2 {
    text-align: center;
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}

.plans .items-group {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plans .items-group img {
    margin-bottom: 24px;
}

.plans .items-group h3 {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.plans .items-group p {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* Contact Section */

.contact {
    height: 300px;
    border-radius: 8px;
    margin-bottom: 130px;
    background-image: url('images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;

}

.contact .contact-info {
    padding: 60px;
    width: 460px;
}

.contact .contact-info h2 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}


